.App {
  background-color: #000000;
}

.header {
  color: white;
  font-size: 3vw;
  padding: 1vw;
  background-color: teal;
  width: 100vw;
  font-family: "Font Name", sans-serif;
}

.h1 {
  width: 100vw;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin: 3vw auto;
}

.video {
  transform: scaleX(-1);
  width: 60vw;
  border: solid 1.5vw white;
  border-radius: 0.5vw;
  box-shadow: slategrey -1vw 1vw 1vw;
}

.take-picture {
  font-size: 3vw;
  padding: 2vw;
  border-radius: 1vw;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.take-picture:hover {
  background-color: teal;
  color: white;
  font-weight: bold;
}

.flash {
  animation: flash 2s;
  background-color: white;
}

@keyframes flash {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 6vw;
    padding: 0.5em;
  }
  .video {
    width: 90vw;
    border-width: 0.5em;
  }
  .take-picture {
    font-size: 4vw;
    padding: 1.5em;
    border-radius: 0.5em;
  }
}
