@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");

.App {
  background-color: #474073;
}

.header {
  color: white;
  font-size: 2vw;
  padding: 1vw;
  background-image: url("../public/drop-light-abstract-night-photography-play-630759-pxhere.com.jpg");
  background-size: 100%;
  background-position: center;
  width: 100vw;
  font-family: "Shantell Sans", cursive;
}

.h1 {
  width: 100vw;
  display: flex;
  align-items: center;
}

.icon {
  height: 2em;
}

.video-container,
.preview-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3vw;
  height: 60vh;
  padding: 4vw;
}

.video,
.preview-image {
  transform: scaleX(-1);
  border: solid 1.5vw white;
  border-radius: 5px;
}

button {
  font-size: 2vw;
  padding: 1vw;
  border-radius: 1vw;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  background-color: #63c4a8;
}

button:hover {
  background-color: #7aefce;
}

button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.flash {
  animation: flash 2s;
  background-color: white;
}

.countdown {
  color: white;
  font-size: 3vw;
  font-family: "Shantell Sans", cursive;
}

@keyframes flash {
  0% {
    background-color: white;
  }
  100% {
    background-color: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 6vw;
    padding: 0.5em;
  }
  .video {
    width: 80vw;
    border-width: 0.5em;
  }
  .take-picture {
    font-size: 4vw;
    padding: 1.5em;
    border-radius: 0.5em;
  }
}
